body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-container {
    background-color: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    border: none;
    color: white;
    border-radius: 6px;
}

#error {
    color: red;
    margin-top: 10px;
}